

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
    gap: 50px;
  }
  
  .title{
    
    text-align: center;
    
    font-size: 30px;
    font-weight: 600;
    font-style: bold;
  }
  .form {
    display: flex;
    margin: 0 80px 80px 80px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 60%;
    background-color: #ddd;
    font-family: 'Kanit', sans-serif;
    border-radius: 10px;
    
  }

  .form button {
    margin: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 14px;
    padding: 10px 10%;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .form button:hover {
    background-color: #2980b9;
  }

  .inputGroup {
    
    flex: 0 0 calc(50% - 60px);
    margin: 5px;
    margin-left: 10px ;
    margin-right: 10px ;
  }

  .inputGroup div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .inputGroup label {
    display: block;
    margin: 10px;
  }
  
  .inputGroup input {
    width: 90%;
    padding: 8px;
    border: 1px solid #afafaf;
    border-radius: 10px;
    outline: none;
  }
  


  /* Media query for mobile responsiveness */
  @media (max-width: 768px) {
    .title{
      margin-top: 40px;
    }
    .container{
      height: auto;

    }

    .form {
      flex-direction: column;
      width: 75%;
      max-width: 100%;

    }
    
    .form button {  
      padding: 10px 20px;
    }

    .inputGroup {
      flex: 0 0 100%;
    }
  }