/* styles/Navbar.module.css */
.navbar {
  font-family: 'Kanit', sans-serif;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #333;
  color: white;
  box-shadow: 0 0.5rem 0.6rem 0 rgba(0, 0, 0, 0.493);
  
}
.logo a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.links a {
  margin-left: 1rem;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.buttons{
  background-color: rgb(32, 32, 32);
  border-radius: 10px;
  padding: 8px;
}